/* That style sheet should be loaded if rtl1 is used as high level RTL */

h1, h2, h3 { 
    text-align:center;
}

body { 
    background-color:#202020; 
    color:#f0e0d0; 
    font-family:Helvetica,Helv,sans-serif
}

a:link { 
    color:#8080ff; 
}

a:visited {
     color:#ff8080; 
}

a:active { 
    color:#80ff80; 
}

button { 
    background-color:#606060;
    color:#f8f0e0;
    font-size:100%;
    padding:0.3em 0.6em;
    border:none;
    border-radius:5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover { 
    background-color:#707070 ;
}

button.debug { 
    padding:0px 0.25em; font-size:85%; 
}

input[type="file"] { 
    display: none; 
}

img { 
    vertical-align: middle
}

#mediaimg { 
    max-width:100%;
    height:calc(92vh - 10px);
}

#mediavid { 
    width:100%;
    height:calc(92vh - 10px);
    object-fit: contain;
}

div#media { 
    position:fixed;
    top:3vh;
    left:0pt;
    text-align:center;
    width:64%;
    height:92vh;
    overflow-y:auto
}

div#text {
    position:fixed;
    top:3vh;
    right:0pt;
    text-align:center;
    width:34%;
    height:92vh;
    font-size:2vh;
    overflow-y:auto;
}

div#timer {
    position:fixed;
    top:0pt;
    right:0pt;
    text-align:right;
    height:2.5vh;
    font-size:2vh;
    font-weight:bold;
}

div#buttons {
    position:fixed;
    bottom:0pt;
    right:0pt;
    padding:0px 1vh;
    height:5vh;
    font-size:2vh 
}

div#debug { 
    position:fixed;
    bottom:0pt;
    left:0pt;
    padding:0px 1vh;
    height:5vh;
    font-size:1.8vh ;
}


fieldset { 
    border: none;
    padding: 0em 0em 0.5em 1em;
    margin: 0px;
}
